.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content .container {
	background-color: var(--main-color);
	height: 50vh;
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: 3px 5px 5px gray;
}